table {
    border: 5px solid black;  
    border-radius: 10px;
    width: 100%;
    word-spacing: 15px;
}

body {
    background-color:lightskyblue;
}

td {
    float: bottom-left;
    padding: 2px;
    font-size: xx-large;
    
}
.submit {
    font-size: larger;
}
.table3 {
    position: absolute;
    top: 100%;
    width: 100%;
}