table {
    border: 5px solid black;  
    border-radius: 10px;
    width: 100%;
    word-spacing: 15px;
}

body {
    background-color:lightskyblue;
}

td {
    float: bottom-left;
    padding: 2px;
    font-size: xx-large;
    
}
.stat tr td {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    top: 160px;
    z-index: 1;
    font-size: medium;