table {
    border: 5px solid black;  
    border-radius: 10px;
    width: 100%;
    word-spacing: 15px;
}

body {
    background-color:lightskyblue;
}

td {
    float: bottom-left;
    padding: 2px;
    font-size: xx-large;
    
}
.table3 {
    position: absolute;
    top: 100%;
    width: 100%;
}
.statt  tr td{
    
    border: 3px solid black;
    z-index: 1;
    width: 100px;
    height: 50px;
    top: 160px;
}
